DB_URL=jdbc:postgresql://localhost:5432/StipzTests6
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_do_postgres

ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@stipz.com
ADMIN_PASSWORD=senha_inicial_do_admin

JWT_SECRET=uma_chave_grande_e_dificil_de_adivinhar

PG_DUMP_PATH=C:/Program Files/PostgreSQL/18/bin/pg_dump.exe
